{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": false
        }
    },
    "env": {
        "targets": {
            "node": "16"
        },
        "mode": "entry"
    },
    "module": {
        "type": "commonjs"
    }
}
